<% if (item.link){ %>
    <% if (item.title){ %>
        <h1><a href="<%- item.link %>" target="_blank"><%= item.title || '无题' %></a></h1>
    <% } else { %>
        <h1><a href="<%- item.link %>" target="_blank"><%= item.link || '无题' %></a></h1>
    <% } %>
<% } else { %>
    <% if (index){ %>
        <h1 class="<%= theme.color.article_title_link %>-link-context"><a href="<%- config.root %><%- item.path %>"><%= item.title || '无题' %></a></h1>
    <% } else { %>
        <h1><%= item.title || '无题' %></h1>
    <% } %>
<% } %>
