<% if (item.link){ %>
    <% if (item.title){ %>
        <h1><a href="<%- item.link %>" target="_blank"><%= item.title || __('no_title') %></a></h1>
    <% } else { %>
        <h1><a href="<%- item.link %>" target="_blank"><%= item.link || __('no_title') %></a></h1>
    <% } %>
<% } else { %>
    <% if (index){ %>
        <h1 class="<%= theme.color.article_title_link %>-link-context"><a href="<%- url_for(item.path) %>"><%= item.title || __('no_title') %></a></h1>
    <% } else { %>
        <h1><%= item.title || __('no_title') %></h1>
    <% } %>
<% } %>
