<% var item = page; %>
<% var aboutData = site.data.about; %>

<div class="container main-container">
    <div class="card about-page row">
        <div class="header <%= theme.color.about_header %>">
            <div class="avatar-wrapper center-align">
                <img class="avatar-image circle responsive-img" src="<%= aboutData.avatar %>" alt="User Avatar">
            </div>
            <div class="info center-align">
                <p class="name"><%= aboutData.name %></p>
                <p class="desc"><%= aboutData.desc %></p>
            </div>

            <% if (site.data.link && site.data.link.social) { %>
                <div class="social-group center-align">
                    <% for (var type in site.data.link.social) { %>
                        <a class="social-link" href="<%= site.data.link.social[type] %>" target="_blank">
                            <i class="fa fa-2x fa-<%= type %>"></i>
                        </a>
                    <% } %>
                </div>
            <% } %>
        </div>

        <article>
            <div class="card-content">
                <section class="about-me">
                    <h1 class="<%= theme.color.about_title %>-text">
                        <i class="fa fa-street-view"></i><%= __('about.about') %></h1>
                    <div class="entry <%= theme.color.link %>-link-context">
                        <%- item.content %>
                    </div>
                </section>

                <% if (aboutData.skills) { %>
                <section class="skills">
                    <h1 class="<%= theme.color.about_title %>-text">
                        <i class="fa fa-tasks"></i>&nbsp;<%= __('about.skills') %></h1>
                    <ul class="skill-list">
                        <% for (var skill in aboutData.skills) { %>
                            <% if (aboutData.skills[skill] > 0) { %>
                                <li class="row">
                                    <div class="col s4 m3 l2"><%= skill %></div>
                                    <div class="col s8 m9 l10">
                                        <% for (var i = 1; i <= aboutData.skills[skill]; i++) { %>
                                            <i class="fa fa-star"></i>
                                        <% } %>
                                        <% for (; i <= 10; i++) { %>
                                            <i class="fa fa-star-o"></i>
                                        <% } %>
                                    </div>
                                </li>
                            <% } else { %>
                                <li>&nbsp;</li>
                            <% } %>
                        <% } %>
                    </ul>
                </section>
                <% } %>

                <% if (aboutData.projects && aboutData.projects.length > 0) { %>
                <section class="projects">
                    <h1 class="<%= theme.color.about_title %>-text">
                        <i class="fa fa-cubes"></i><%= __('about.works') %></h1>
                        <div class="row">
                            <% for (var i in aboutData.projects) { %>
                                <div class="project-item col m6">
                                    <div class="">
                                        <div class="card medium <%= theme.color.link %>-link-context">
                                            <div class="card-image">
                                                <img class="card-cover-image" src="<%= aboutData.projects[i].image %>">
                                                <span class="card-title"><%= aboutData.projects[i].name %></span>
                                                <div class="card-tag">
                                                    <% for (var j in aboutData.projects[i].tags) { %>
                                                        <span class="chip white-text <%= theme.color.tag %>"><%= aboutData.projects[i].tags[j] %></span>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <%= aboutData.projects[i].description %>
                                            </div>
                                            <div class="card-action">
                                                <a class="<%= theme.color.readmore %>-text" href="<%= aboutData.projects[i].link %>" target="_blank"><%= aboutData.projects[i].link_text %></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                </section>
                <% } %>

                <% if (aboutData.reward && aboutData.reward.length > 0) { %>
                <section class="reward">
                    <%- partial('_partial/plugin/reward') %>
                </section>
                <% } %>
            </div>
        </article>
    </div>

    <%- partial('_partial/plugin/comment', {page_id: 'about'}) %>
</div>
