<%- partial('_partial/head') %>

<body>
    <%- partial('_partial/header') %>
    <main>
        <%- body %>
        <%- partial('_partial/float') %>
    </main>
    <%- partial('_partial/footer') %>
    
    <%- partial('_partial/after_footer') %>
</body>
</html>
