<%- partial('_partial/head') %>

<body>
    <div class="wrapper">
            <%- partial('_partial/header') %>

            <main>
                    <%- body %>
                    <%- partial('_partial/footer') %>
            </main>
    </div>

    <%- partial('_partial/after_footer') %>
</body>
</html>
