<%- partial('_partial/head') %>

<body class="mdl-color--grey-100">
    <div class="wrapper">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <%- partial('_partial/header') %>

            <main>
                    <%- body %>
                    <%- partial('_partial/footer') %>
            </main>
        </div>
    </div>

    <%- partial('_partial/after_footer') %>
</body>
</html>
