<%- partial('_partial/html_head') %>

<body>
    <header><%- partial('_partial/header') %></header>
    <div class="content"><%- body %></div>
    <footer id="footer"><%- partial('_partial/footer') %></footer>
    <%- partial('_partial/after_footer') %>
</body>
</html>