<%- partial('_partial/html_head') %>

<body>
    <header id="page-header"> 
        <%- partial('_partial/header') %>
    </header>
    <div class="container-center">
        <div class="row-fluid">
            <div class="span12">
                <%- body %>
            </div>
        </div>
    </div>
    <footer id="page-footer"><%- partial('_partial/footer') %></footer>
    <!-- <%- partial('_partial/after_footer') %> -->
</body>
</html>