<% var readingData = site.data.reading;
    var tabCount = Object.keys(readingData.define).length;
%>

<div class="container main-container">
    <% if (readingData) { %>
        <div class="">
            <div class="row">
                <ul class="tabs ">
                    <% for (var key in readingData.define) { %>
                        <% if (readingData.define[key] && readingData.contents[key]) { %>
                        <li class="tab col s<%= 12 / tabCount %> ">
                            <a class="<%= theme.color.tab %>-text " href="#<%= key %>"><%= readingData.define[key] + '(' + readingData.contents[key].length + ')'%></a>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>

            <% for (var key in readingData.contents) { %>
                <div id="<%= key %>" class="row" style="margin-top: 20px;">
                    <% var bookList = readingData.contents[key]; %>
                    <% for (var i in bookList) { %>
                        <div class="book-item col s12 m6">
                            <div class="card small hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="card-cover-image activator" src="<%= bookList[i].cover %>">
                                </div>
                                <div class="card-content <%= theme.color.link %>-link-context">
                                    <span class="card-title truncate activator grey-text text-darken-4"><%= bookList[i].title %>
                                    </span>
                                    <p><%= __('reading.score') %>: <%= bookList[i].score || '???' %>
                                        <a class="external-link right" href="<%= bookList[i].doubanLink %>" target="_blank">

                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </p>
                                </div>

                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4"><%= __('reading.comment') %>
                                        <i class="fa fa-times-circle-o right"></i>
                                    </span>

                                    <p><%= bookList[i].review %></p>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>

        </div>
        <%- partial('_partial/plugin/comment', {page_id: 'reading'}) %>
    <% } else { %>
        <%- partial('_partial/construction') %>
    <% } %>
</div>
