<article class="<%= item.layout %>">
    <div class="article-title article-title-big">
        <%- partial('post/title') %>
    </div>

    <div class="date-row <% if (extra) { %> hide"<% } %>">
        <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
    </div>

    <div class="entry">
        <%- item.content %>
    </div>
    
    <footer <% if (index) { %> class="end-sep"<% } %>>
        <% if (index){ %>
            <% if (item.excerpt && showContent){ %>
                <div class="alignleft">
                    <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
                </div>
            <% } %>
            <% if (item.comment && config.disqus_shortname){ %>
                <div class="alignright">
                  <a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
              </div>
            <% } %>
        <% } else { %>
            <%- partial('post/category') %>
            <%- partial('post/tag') %>
        <% } %>
        <div class="clearfix"></div>
    </footer>
</article>

<% if (!extra) { %>
<%- partial('plugin/comment') %>
<% } %>