<%- partial('pagenav', {nav_head: '当前位置（目录）', partial_path: 'post/category'}) %>
<article>
    <div class="card">
        <div class="card-content">
            <div class="article-title">
                <%- partial('post/title') %>
            </div>
            <%- partial('post/time') %>
            <%- partial('post/tag') %>
            <%- partial('post/tablecontents') %>

            <div class="entry">
                <%- item.content %>
            </div>
        </div>
    </div>
</article>

<%- partial('plugin/comment') %>
