<footer class="page-footer indigo darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <%= theme.copyright %>
        </div>
    </div>
</footer>

<footer>
    <div class="footer-content">
        <div class="container-center">
            <div class="footer-text pull-left">
                <div class="copyright">
                    <% if (config.author){ %>
                        Copyright &copy;
                        <%= new Date().getFullYear() %>
                        <a href="<%- config.root %>"><%= config.author %></a>
                    <% } else { %>
                        Copyright &copy;
                        <%= new Date().getFullYear() %>
                        <a href="<%- config.root %>"><%= config.title %></a>
                    <% } %>
                </div>
                <div class="theme-copyright">
                    <span>Blog powered by
                        <a href="http://zespia.tw/hexo/zh-CN/">hexo</a>
                    </span>
                    Theme
                    <a href="https://github.com/raytaylorlin/hexo-theme-raytaylorism">raytaylorism</a>
                    desgined by
                    <strong>Nix</strong>
                </div>
            </div>
            <div class="social-group pull-right">
                <% if(theme.github_url){ %>
                    <a href="<%=theme.github_url %>" target="_blank" title="github">
                        <i class="icon-github"></i>
                    </a>
                <% } %>
                <% if(theme.weibo_url){ %>
                    <a href="<%= theme.weibo_url %>" target="_blank" title="新浪微博">
                        <i class="icon-weibo"></i>
                    </a>
                <% } %>
                <% if(theme.renren_url){ %>
                    <a href="<%=theme.renren_url %>" target="_blank" title="人人网">
                        <i class="icon-renren"></i>
                    </a>
                <% } %>
                <% if(theme.google_plus_url){ %>
                    <a href="<%=theme.google_plus_url %>" target="_blank" title="Google+">
                        <i class="icon-google-plus-sign"></i>
                    </a>
                <% } %>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
