<footer class="page-footer <%= theme.color.footer %> darken-1">
    <div class="container">
        <div class="row">
            <div class="social-group col m3 s12">
                <h5 class="white-text">社交</h5>
                <% for (var type in theme.social) { %>
                    <a class="social-link" href="<%= theme.social[type] %>" target="_blank">
                        <i class="fa fa-2x fa-<%= type %>"></i>
                    </a>
                <% } %>
            </div>
            <div class="col m9 s12">
                <h5 class="white-text">友情链接</h5>
                <% for (var name in site.data.link.extern) { %>
                    <a class="social-link" href="<%= site.data.link.extern[name] %>" target="_blank"><%= name %></a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <%= theme.copyright %>
        </div>
    </div>
</footer>
