<div class="copyright">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="theme-copyright">
  Theme <strong>modernist</strong> by <a href="http://heroicyang.com/" target="_blank">Heroic Yang</a>
   | 
  Redesign by <a href="http://raytaylorlin.com/" target="_blank">Ray Taylor Lin</a>
</div>
<div class="clearfix"></div>