<div class="copyright">
    <% if (config.author){ %>
    Copyright &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
    <% } else { %>
    Copyright &copy; <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
    <% } %>
</div>
<div class="theme-copyright">
    <span>Blog powered by <a href="http://zespia.tw/hexo/zh-CN/">hexo</a></span>
    Theme <a href="https://github.com/raytaylorlin/hexo-theme-raytaylorism">raytaylorism</a> desgined by <strong>Nix</strong>
</div>
<div class="clearfix"></div>