<div>
    <ul class="side-nav <%= theme.color.side_nav %>" id="main-menu">
        <% if (site.data.about) { %>
        <li class="side-user">
            <div class="row">
                <div class="col s4 no-padding">
                    <img class="avatar-image circle responsive-img" src="<%= site.data.about.avatar %>" alt="User Avatar">
                </div>
                <div class="info col s8 valign-wrapper no-padding">
                    <div class="valign">
                        <p class="name"><%= site.data.about.name %></p>
                        <p class="desc"><%= site.data.about.tag %></p>
                    </div>
                </div>
            </div>
        </li>
        <% } %>

        <% for (var i in theme.menu){ %>
            <li class="no-padding">
                <a class="waves-effect <%= theme.menu[i].class %> <%= theme.menu[i].category ? 'category-menu' : '' %>" href="<%= theme.menu[i].link %>" <% if (theme.menu[i].category) { %>data-activates="category-menu" <% } %>>
                    <i class="fa fa-<%= theme.menu[i].icon %> "></i>
                    <% var menuTextKey = 'menu.' + theme.menu[i].id; %>
                    <%= __(menuTextKey) %>
                </a>
            </li>
        <% } %>
    </ul>

    <ul class="side-nav <%= theme.color.side_nav %>" id="category-menu">
    <%
        var catTree = {};

        site.categories.forEach(function(item) {
            if(item.posts.length > 0) {
                var cats = item.path.split('/');
                var i, depth = 0;

                var addTree = function(root, i) {
                    if(i + 1 > cats.length) {
                        return;
                    } else if(!root.hasOwnProperty(cats[i])) {
                        root[cats[i]] = {posts_num: item.posts.length};
                        addTree(root[cats[i]], i + 1);
                    } else {
                        addTree(root[cats[i]], i + 1);
                    }
                };
                addTree(catTree, 1);
            }
        });
        %>

            <%
            var walk = function(root, path, depth) {
                for(var item in root) {
                    if(item.length > 0 && item != 'posts_num') {
                        var space = '';
                        for(i = 0; i < depth; i++) {
                            space += '--';
                        }
            %>

            <li class="collapse-level-<%= depth %>" collapse-level="<%= depth %>">
                <a class="no-padding" href="<%- config.root %><%- path + item %>/">
                    <%= item %> <span class="right"><%=  __('side_nav_paper', root[item]['posts_num']) %></span></a>
                </a>
            </li>

        <%
                        walk(root[item], path + item + '/', depth + 1);
                    }  // if
                }  // for
            };  // function work

        walk(catTree, 'categories/', 0);
        %>

    </ul>
</div>
