<nav id="jPanelMenu-menu-side">
    <ul class="nav main-menu">
        <li><a class="brand" href="index.html"><%= config.title %></a></li>
        <% for (var i in theme.menu){ %>
            <li>
                <a href="<%- theme.menu[i] %>" class="<%- theme.menu_class[i] %>">
                    <i class="<%- theme.menu_icon[i] %> icon-white"></i>
                    <%= i %>
                </a>
            </li>
        <% } %>
    </ul>

    <ul class="nav category-menu hide">
        <li>
            <span><a class="brand" href="javascript:void(0);">分类目录</a></span>
            <span><a class="btn-back brand pull-right" href="javascript:void(0);">
                <i class="icon-arrow-left"></i>
            </a></span>
        </li>

        <% 
        var catTree = {};

        site.categories.forEach(function(item) {
            if(item.posts.length > 0) {
                console.log(item);
                var cats = item.path.split('/');
                var i, depth = 0;

                var addTree = function(root, i) {
                    if(i + 1 > cats.length) {
                        return;
                    } else if(!root.hasOwnProperty(cats[i])) {
                        root[cats[i]] = {posts_num: item.posts.length};
                        addTree(root[cats[i]], i + 1);
                    } else {
                        addTree(root[cats[i]], i + 1);
                    }
                };
                addTree(catTree, 1);
            }
        });
        console.log(catTree);
        %>

        <%
        var walk = function(root, path, depth) {
            var item;
        %>

            <%
            for(item in root) {
                if(item.length > 0 && item != 'posts_num'){
                    var space = '';
                    for(i = 0; i < depth; i++) {
                        space += '--';
                    } 
            %>

            <li collapse-level="<%= depth %>">
                <a href="<%- config.root %><%- path + item + '/' %>" class="collapse-level-<%= depth %>">
                    <i class="icon-caret-right"></i>
                    <%= item + '(' + root[item]['posts_num'] + ')'%>
                </a>
            </li>

            <%
                walk(root[item], path + item + '/', depth + 1);
                }
            }
            %>

        <%
        };
        walk(catTree, 'categories/', 0);
        %>
    </ul>
</nav>