<div>
    <ul class="side-nav" id="main-menu">
        <li class="side-user">
            <div class="row">
                <div class="col s4">
                    <img class="avatar-image circle responsive-img" src="<%= theme.user.avatar %>" alt="User Avatar">
                </div>
                <div class="info col s8 valign-wrapper">
                    <div class="valign">
                        <p class="name"><%= theme.user.name %></p>
                        <p class="desc"><%= theme.user.desc %></p>
                    </div>
                </div>
            </div>
        </li>
        <% for (var i in theme.menu){ %>
            <li class="no-padding">
                <a class="waves-effect <%= theme.menu[i].category ? 'category-menu' : '' %>" href="<%= theme.menu[i].link %>" <% if (theme.menu[i].category) { %>data-activates="category-menu" <% } %>>
                    <i class="fa fa-<%= theme.menu[i].icon %> "></i>
                    <%= theme.menu[i].text %>
                </a>
            </li>
        <% } %>
    </ul>

    <ul class="side-nav collection with-header" id="category-menu">
        <li class="collection-header">
            <h5 class="black-text">分类目录</h5>
        </li>

    <%
        var catTree = {};

        site.categories.forEach(function(item) {
            if(item.posts.length > 0) {
                var cats = item.path.split('/');
                var i, depth = 0;

                var addTree = function(root, i) {
                    if(i + 1 > cats.length) {
                        return;
                    } else if(!root.hasOwnProperty(cats[i])) {
                        root[cats[i]] = {posts_num: item.posts.length};
                        addTree(root[cats[i]], i + 1);
                    } else {
                        addTree(root[cats[i]], i + 1);
                    }
                };
                addTree(catTree, 1);
            }
        });
        %>

            <%
            var walk = function(root, path, depth) {
                for(var item in root) {
                    if(item.length > 0 && item != 'posts_num') {
                        var space = '';
                        for(i = 0; i < depth; i++) {
                            space += '--';
                        }
            %>

            <li class="collection-item no-padding" collapse-level="<%= depth %>">
                <a class="waves-effect collapse-level-<%= depth %>" href="<%- config.root %><%- path + item %>/">
                    <%= item %> <span class="right"><%= root[item]['posts_num'] %> 篇</span></a>
                </a>
            </li>

        <%
                        walk(root[item], path + item + '/', depth + 1);
                    }  // if
                }  // for
            };  // function work

        walk(catTree, 'categories/', 0);
        %>

    </ul>
</div>
