<article class="<%= item.layout %>">
    <div class="row-fluid">
        <div class="span2" id="date-tags">
            <div class="date-row">
                <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
            </div>
            <div class="tags-row">
                <% item.tags.forEach(function(tag) { %>
                    <a href="javascript:void(0)" class="btn btn-info"><%= tag.name %></a>
                <% }); %>
            </div>
        </div>
        <div class="span10" id="article-excerpt">
            <%- partial('post/title') %>
            <% if (showEntry && item.excerpt && index) { %>
                <div class="entry">
                    <%- item.excerpt %>
                </div>
            <% } %>
        </div>
    </div>
</article>
