<article class="row simple-article">
    <div class="col s12">
        <div class="card hoverable">
            <div class="card-content">
                <h1><%= item.title %></h1>
                <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
                <% if(showTags) { %>
                    <div class="tags-row">
                        <% item.tags.forEach(function(tag) { %>
                            <a href="<%= config.root + tag.path %>" class="article-tag teal"><%= tag.name %></a>
                        <% }); %>
                    </div>
                <% } %>
                
                <% if (showEntry && item.excerpt && index) { %>
                    <div class="entry">
                        <%- item.excerpt %>
                    </div>
                <% } %>
            </div>
            
            <% if (item.excerpt) { %>
            <div class="card-action">
                <a href="<%= item.path %>">READ MORE</a>
            </div>
            <% } %>
        </div>
    </div>
</article>
