<article>
    <div class="row-fluid">
        <div class="span2 date-tags">
            <div class="date-row">
                <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
            </div>
            <% if(showTags) { %>
                <div class="tags-row">
                <% item.tags.forEach(function(tag) { %>
                    <a href="<%= config.root + tag.path %>" class="btn btn-info"><%= tag.name %></a>
                <% }); %>
                </div>
            <% } %>
        </div>
        <div class="span10">
            <div class="article-title simple-article-title">
                <%- partial('post/title') %>
            </div>
            <% if (showEntry && item.excerpt && index) { %>
                <div class="entry">
                    <%- item.excerpt %>
                </div>
            <% } %>
        </div>
    </div>
    <div class="split-line"></div>
</article>
